[flake8]
max-line-length = 120
# ignore =
exclude =
    tests,
    qa,
    etc,
    venv,
    .venv,
    *migrations*,
    infrastructure,
    .eggs,
    .pytest_cache,
    .vscode,
    bridge_aws.egg-info,
    build,
    dist
max-complexity = 15
format = ${cyan}%(path)s${reset}:${yellow_bold}%(row)d${reset}:${green_bold}%(col)d${reset}: ${red_bold}%(code)s${reset} %(text)s
